<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<head>
    <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-combined.no-icons.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/index.css}">-->
    <link rel="stylesheet" th:href="@{/static/css/prettify.css}">
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
</head>
<style type="text/css">
    #FullEditor {
        height: 100%;
        background-color: white;
        border-collapse: separate;
        border: 1px solid rgb(204, 204, 204);
        padding: 4px;
        box-sizing: content-box;
        -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
        border-top-right-radius: 3px; border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; border-top-left-radius: 3px;
        outline: none;
        overflow: scroll;
    }
    #FullEditor:focus{
        border-color:rgba(82, 168, 236, 0.8);
        outline:0;
        outline:thin dotted \9;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    }
    div[data-role="editor-toolbar"] {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 10px 0px 10px 0px;
    }
    [contentEditable=true]:empty:not(:focus):before {
        content:attr(data-placeholder)
    }
    .dropdown-menu a {
        cursor: pointer;
    }
    /* Font Color */
    /* Black */
    a[data-edit="foreColor #000000"]::before {
        content: "\f0c8  ";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        font-size: 18px;
        top: 10px;
        left: 0;
    }
    /* Blue */
    a[data-edit="foreColor #0000FF"]::before,
    a[data-edit="backColor #00FFFF"]::before {
        content: "\f0c8  ";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #0000FF;
        font-size: 18px;
        top: 10px;
        left: 0;
    }
    /* Green */
    a[data-edit="foreColor #30AD23"]::before,
    a[data-edit="backColor #00FF00"]::before {
        content: "\f0c8  ";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #30AD23;
        font-size: 18px;
        top: 10px;
        left: 0;
    }
    /* Orange */
    a[data-edit="foreColor #FF7F00"]::before,
    a[data-edit="backColor #FF7F00"]::before {
        content: "\f0c8  ";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #FF7F00;
        font-size: 18px;
        top: 10px;
        left: 0;
    }
    /* Red */
    a[data-edit="foreColor #FF0000"]::before,
    a[data-edit="backColor #FF0000"]::before {
        content: "\f0c8  ";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #FF0000;
        font-size: 18px;
        top: 10px;
        left: 0;
    }
    /* Yellow */
    a[data-edit="foreColor #FFFF00"]::before,
    a[data-edit="backColor #FFFF00"]::before  {
        content: "\f0c8  ";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: #FFFF00;
        font-size: 18px;
        top: 10px;
        left: 0;
    }
</style>
<section class="content-header" style="">
    <h1>
        新闻管理
        <small>系统新闻管理页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">新闻管理</a></li>
        <li class="active">系统新闻管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchName"> 标题</label>
                                <input type="text" class="form-control input-sm" name="title" id="searchName" placeholder="请输入新闻标题">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button id="queryBtn" type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                            </div>
                        </form>
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="news:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <button shiro:hasPermission="news:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table',after:'editAfter'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="news:delete" type="button" id="deleteBtn" class="btn btn-default" data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">创建新闻</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label class="control-label" for="title"><span class="asterisk">*</span>标题:</label>
                        <input id="title" type="text" class="form-control" name="title" placeholder="输入新闻标题" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="source">来源:</label>
                        <input type="text" id="source" class="form-control" name="source" placeholder="输入新闻来源" >
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="content">内容:</label>
                        <input type="text" style="display: none" class="form-control" id="content" name="content"/>
                    </div>

                    <!--<div class="form-group">
                        <label class="control-label" for="content">内容:</label>
                        <textarea class="form-control" id="content" name="content"/>
                        <div class="help-block with-errors"></div>
                    </div>-->

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/news/create}',after:'$.myAction.refreshContent'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">修改新闻</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                    <input type="hidden" name="pk_content"/>
                    <div class="form-group">
                        <label class="control-label" for="title"><span class="asterisk">*</span>标题:</label>
                        <input id="editTitle" type="text" class="form-control" name="title" placeholder="输入新闻标题"
                               required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="source">来源:</label>
                        <input type="text" class="form-control" id="editSource" name="source" placeholder="输入新闻来源">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="content">内容:</label>
                        <input type="text" style="display: none" class="form-control" id="editContent" name="content"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/news/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除新闻</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/news/delete}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<div id="actionButtons" class="admin-hide">
<!--    <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　-->
    <a shiro:hasPermission="news:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="news:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>
<!-- zTree -->
<div id="menuContent" class="menuContent"
     style="display:none;z-index:1989101600;position: absolute;border: 1px solid #ccc; background-color: #fff;">
    <ul id="tree" class="ztree"></ul>
</div>
<script th:inline="javascript">

    var html = '<div id="EditorContainer">\n' +
        '                            <div class="toolbar" data-role="editor-toolbar" data-target="#FullEditor">\n' +
        '                                <div class="btn-group">\n' +
        '                                    <div class="btn-group">\n' +
        '                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="字体大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>\n' +
        '                                        <ul class="dropdown-menu">\n' +
        '                                            <li><a data-edit="fontSize 5" style="font-size: x-large;" >大</a></li>\n' +
        '                                            <li><a data-edit="fontSize 3" style="font-size: medium;">一般</a></li>\n' +
        '                                            <li><a data-edit="fontSize 1" style="font-size: x-small;">小</a></li>\n' +
        '                                        </ul>\n' +
        '                                    </div>\n' +
        '                                    <div class="btn-group">\n' +
        '                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="高亮"><i class="fa fa-paint-brush"></i>&nbsp;<b class="caret"></b></a>\n' +
        '                                        <ul class="dropdown-menu">\n' +
        '                                            <li><a data-edit="backColor #00FFFF">蓝色</a></li>\n' +
        '                                            <li><a data-edit="backColor #00FF00">绿色</a></li>\n' +
        '                                            <li><a data-edit="backColor #FF7F00">橙色</a></li>\n' +
        '                                            <li><a data-edit="backColor #FF0000">红色</a></li>\n' +
        '                                            <li><a data-edit="backColor #FFFF00">黄色</a></li>\n' +
        '                                        </ul>\n' +
        '                                    </div>\n' +
        '                                    <div class="btn-group">\n' +
        '                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="字体颜色"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>\n' +
        '                                        <ul class="dropdown-menu">\n' +
        '                                            <li><a data-edit="foreColor #000000">黑色</a></li>\n' +
        '                                            <li><a data-edit="foreColor #0000FF">蓝色</a></li>\n' +
        '                                            <li><a data-edit="foreColor #30AD23">绿色</a></li>\n' +
        '                                            <li><a data-edit="foreColor #FF7F00">橙色</a></li>\n' +
        '                                            <li><a data-edit="foreColor #FF0000">红色</a></li>\n' +
        '                                            <li><a data-edit="foreColor #FFFF00">黄色</a></li>\n' +
        '                                        </ul>\n' +
        '                                    </div>\n' +
        '                                </div>\n' +
        '                                <div class="btn-group">\n' +
        '                                    <a class="btn btn-default" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>\n' +
        '                                    <a class="btn btn-default" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>\n' +
        '                                    <a class="btn btn-default" data-edit="strikethrough" title="删除线"><i class="fa fa-strikethrough"></i></a>\n' +
        '                                    <a class="btn btn-default" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>\n' +
        '                                </div>\n' +
        '                                <div class="btn-group">\n' +
        '                                    <a class="btn btn-default" data-edit="insertunorderedlist" title="列表"><i class="fa fa-list-ul"></i></a>\n' +
        '                                    <a class="btn btn-default" data-edit="insertorderedlist" title="序列"><i class="fa fa-list-ol"></i></a>\n' +
        '                                    <a class="btn btn-default hidden-xs" data-edit="indent" title="重点 (Tab)"><i class="fa fa-indent"></i></a>\n' +
        '                                </div>\n' +
        '                                <div class="btn-group">\n' +
        '                                    <a class="btn btn-default" data-edit="justifyleft" title="居左 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>\n' +
        '                                    <a class="btn btn-default" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>\n' +
        '                                    <a class="btn btn-default" data-edit="justifyright" title="居右 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>\n' +
        '                                    <a class="btn btn-default" data-edit="justifyfull" title="适应 (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>\n' +
        '                                </div>\n' +
        '                                <div class="btn-group">\n' +
        '                                    <a class="btn btn-default hidden-xs" data-edit="format-pre" title="代码"><i class="fa fa-code"></i></a>\n' +
        '                                    <div class="btn-group">\n' +
        '                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="标题"><i class="fa fa-header"></i>&nbsp;<b class="caret"></b></a>\n' +
        '                                        <ul class="dropdown-menu">\n' +
        '                                            <li><a data-edit="format-h1">一级标题</a></li>\n' +
        '                                            <li><a data-edit="format-h2">二级标题</a></li>\n' +
        '                                            <li><a data-edit="format-h3">三级标题</a></li>\n' +
        '                                            <li><a data-edit="format-h4">四级标题</a></li>\n' +
        '                                            <li><a data-edit="format-h5">五级标题</a></li>\n' +
        '                                        </ul>\n' +
        '                                    </div>\n' +
        '                                    <a class="btn btn-default hidden-xs" title="插入图片(可以拖拽)" id="pictureBtn">\n' +
        '                                        <i class="fa fa-picture-o"></i>\n' +
        '                                        <input class="imgUpload" type="file" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 41px; height: 30px;" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />\n' +
        '                                    </a>\n' +
        '                                </div>\n' +
        '                            </div>\n' +
        '                            <div class="editor" id="FullEditor" name="content" data-placeholder="文章正文等待输入..."></div>\n' +
        '                        </div>';

    $(function () {
        // bootstrap table初始化
        // http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
        var $table = $('#table');
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/news/list',
            idField: 'id',
            columns: [
                {field: 'state', checkbox: true},
                {field: 'id', title: '编号', sortable: true, halign: 'left', visible: false},
                {field: 'title', title: '标题', sortable: true, halign: 'left'},
                {field: 'source', title: '来源', sortable: true, halign: 'left'},
                {field: 'content', title: '内容', sortable: true, halign: 'left',formatter:function(value,row,index){
                        if(row.contentExt){
                            var length=row.contentExt.length;
                            if(length&&length>10){
                                return"<span title ='"+row.contentExt+"'>"+row.contentExt.substring(0,10)+ "..." +"</span>"
                            }
                            return"<span title ='"+row.contentExt+"'>"+row.contentExt+"</span>"
                        }
                    }
                },
                {field: 'pk_content', title: '内容id', sortable: true, halign: 'left',visible: false},
                {field: 'creatorName', title: '创建人', sortable: true, halign: 'left'},
                {field: 'modifyTime', title: '创建时间', sortable: true, halign: 'left'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ],
            sortOrder: 'desc'
        });

        $("#addBtn").click(function () {

            if($("#content").next()){
                $("#content").next().remove();
            }
            $("#content").after(html);

            var editorFrushHandler = null;
            $('#FullEditor').wysiwyg();
            $('#FullEditor').on('change',function () {
                $('#Show').html($('#FullEditor').html());
                if(editorFrushHandler!=null) clearTimeout(editorFrushHandler);
                editorFrushHandler = setTimeout(function () {
                    $('#FullEditor pre').removeClass('prettyprinted').addClass('prettyprint');
                    PR.prettyPrint();
                    editorFrushHandler = null;
                },3000);
                $("#content").val($('#FullEditor').html());
            });
            ``
            $('#EditorContainer').css('width','100%').css('height',$(window).height()+'px');
            $('#EditorContainer .editor').css('height',($('#EditorContainer').height()-$('#EditorContainer .toolbar').height()-20-10-57)+'px');
        });

        $("#editBtn").click(function () {

        });



    });

    function editAfter(obj, row) {
        if($("#editContent").next()){
            $("#editContent").next().remove();
        }
        $("#editContent").after(html);

        var editorFrushHandler = null;
        $('#FullEditor').wysiwyg();
        $('#FullEditor').on('change',function () {
            $('#Show').html($('#FullEditor').html());
            if(editorFrushHandler!=null) clearTimeout(editorFrushHandler);
            editorFrushHandler = setTimeout(function () {
                $('#FullEditor pre').removeClass('prettyprinted').addClass('prettyprint');
                PR.prettyPrint();
                editorFrushHandler = null;
            },3000);
            $("#content").val($('#FullEditor').html());
            $("#editContent").val($('#FullEditor').html());
        });

        $('#EditorContainer').css('width','100%').css('height',$(window).height()+'px');
        $('#EditorContainer .editor').css('height',($('#EditorContainer').height()-$('#EditorContainer .toolbar').height()-20-10-57)+'px');

        console.log("editContent====" + $("#editContent").val());
        $("#FullEditor").append($("#editContent").val());
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show');
            $('#editForm').fillForm(row);
            editAfter('', row);
            // console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };

    function onClick(e, treeId, treeNode) {
    }

    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        // $("body").unbind("mousedown", onBodyDown);
    }

    function onBodyDown(event) {
        if (!(event.target.id == "organizationName" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
            hideMenu();
        }
    }
</script>
<!--<script th:src="@{/static/js/news.js}"></script>-->
</html>