<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>琴智科技</title>
    <meta name="keywords" content="琴智科技；疫情防控；智慧城市；智慧产业；" />
    <meta name="description" content="" />
    <meta name="robots" content="All" />
    <link rel="shortcut icon" th:href="@{/static/home/img/title.ico}"/>
    <link th:href="@{/static/home/js/bootstrap/css/less/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/home/css/swiper.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/js/layui/css/layui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/animation.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/iconfont.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/video-js.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/jquery.fancybox.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/cp-p3.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/static/home/js/jquery-1.12.4.min.js}"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?08bf0a6e04a9cb9128b9e26f3355b392";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);

        })();
    </script>

</head>
<body>

<header th:include="home/header :: header"></header>

<div class="page-banner" th:style="'background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/contactus_0.jpg)'">
    <div class="txt wow fadeInUpa">
        <h2>联系我们</h2>
        <p></p>
    </div>
</div>

<div class="page-nav page-nav-md">
    <div class="container conth">
        <div class="page-nav-right">
            <div class="page-nav-right-md" id="page-nav-md-a">
                <a th:if="${cusdomQuery.nav} eq 'nav1'" href="#nav1" class="active">招聘事宜</a>
                <a th:if="${cusdomQuery.nav} ne 'nav1'" href="#nav1">招聘事宜</a>
                <a th:if="${cusdomQuery.nav} eq 'nav2'" href="#nav2" class="active">公司联系方式</a>
                <a th:if="${cusdomQuery.nav} ne 'nav2'" href="#nav2">公司联系方式</a>
                <a th:if="${cusdomQuery.nav} eq 'nav3'" href="#nav3" class="active">合作事宜</a>
                <a th:if="${cusdomQuery.nav} ne 'nav3'" href="#nav3">合作事宜</a>
                <a th:if="${cusdomQuery.nav} eq 'nav4'" href="#nav4" class="active">招商</a>
                <a th:if="${cusdomQuery.nav} ne 'nav4'" href="#nav4">招商</a>
            </div>
        </div>
    </div>
</div>
<a name="nav1" id="nav1"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>招聘事宜</h2>
        </div>
    </div>
</div>

<div class="page-ab-box4 container wow fadeInUpa">
    <div class="row">
        <th th:each="row : ${jobPage.rows}">
            <div class="col-xs-6 col-sm-12">
                <div class="item item_contact">
                    <strong>[[${row.jobName}]]</strong>
                    <span><p>【岗位职责】</p></span>
                    <span><p>[[${row.jobDescription}]]</p></span>
                    <span><p>【岗位要求】</p></span>
                    <span><p>[[${row.jobRequire}]]</p>
                    <span><p>【工作地点】</p></span>
                    <span><p>[[${row.jobsite}]]</p></span>
                </div>
            </div>
        </th>
    </div>
</div>

<a name="nav2" id="nav2"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>公司联系方式</h2>
        </div>
    </div>
</div>

<div class="page-ab-box4 container wow fadeInUpa">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="item item_contact">
                <span><p>中国区销售联系</p></span>
                <span><p>电话: 15287792929</p></span>
                <span><p>邮箱: <a href="mailto:domestic.sales@unisoc.com">domestic.sales@unisoc.com</a></p></span>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="item item_contact">
                <span><p>中国区销售联系</p></span>
                <span><p>电话: 15287792929</p></span>
                <span><p>邮箱: <a href="mailto:domestic.sales@unisoc.com">domestic.sales@unisoc.com</a></p></span>
            </div>
        </div>
    </div>
</div>

<a name="nav3" id="nav3"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>合作事宜</h2>
        </div>
    </div>
</div>

<div class="page-ab-box4 container wow fadeInUpa" >
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="item item_contact">
                <strong>合作企业一</strong>
                <span><p>XXX</p></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="item item_contact">
                <strong>合作企业二</strong>
                <span><p>XXX</p></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="item item_contact">
                <strong>合作企业三</strong>
                <span><p>XXX</p></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="item item_contact">
                <strong>合作企业四</strong>
                <span><p>XXX</p></span>
            </div>
        </div>
    </div>
</div>

<a name="nav4" id="nav4"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>招商</h2>
        </div>
    </div>
</div>


<footer th:include="home/footer :: footer"></footer>
<script type="text/javascript">
    $('#page-nav-md-a a').each(function(){
        // if ($(this).attr("href")=='#nav3') {
        //     $("#page-nav-md-a>a").removeClass("active");
        //     $(this).addClass('active');
        //     $(this).trigger('click');
        // }

    });
</script>

<script th:src="@{/static/home/js/layui/layui.js}"></script>
<script th:src="@{/static/home/js/layui/config.js}"></script>
<script th:src="@{/static/home/js/swiper.js}"></script>
<script th:src="@{/static/home/js/video.js/video.js}"></script>
<script th:src="@{/static/home/js/jquery.appear.js}"></script>
<script th:src="@{/static/home/js/jquery.countTo.js}"></script>
<script th:src="@{/static/home/js/jquery.tap.js}"></script>
<script th:src="@{/static/home/js/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/home/js/gd.js}"></script>
<script th:src="@{/static/home/js/jquery.fancybox.js}"></script>
<script th:src="@{/static/home/js/wow.js}"></script>
<script th:src="@{/static/home/js/jquery-ui.min.js}"></script>
<script th:src="@{/static/home/js/page.js}"></script>
</body>
</html>