<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<body>

<footer th:fragment="footer">
    <div class="foot1">
        <div class="container">
            <div class="foot-logo">
                <a th:href="@{/home/index}">
                    <img th:src="@{/static/home/img/logo-2.png}" alt="琴智科技" />
                </a>
            </div>
            <div class="foot-nav">
                <ul>
                    <!--<li><a href="/uploadfile/poster/寒武纪-LOGO.zip">品牌资料</a></li>
                    <li><a href="/index.php?m=content&c=index&a=lists&catid=148" target="_blank" >开放平台</a></li>
                    <li><a href="http://forum.cambricon.com/list-1-1.html">开发者</a></li>
                    <li><a th:href="@{/home/weinfo}">关于我们</a></li>-->
                </ul>
            </div>
            <div class="foot-icon">
                <ul>
                    <li><a href="javascript:;"><i class="icons-wx"></i><p><img th:src="@{/static/home/img/weixin.jpg}" alt="官方微信" /></p></a></li>
<!--                    <li><a href="javascript:;"><i class="icons-wb"></i><p><img th:src="@{/static/home/img/weibo.png}" alt="官方微博" /></p></a></li>-->
<!--                    <li><a href="https://www.linkedin.com/company/cambricon/?viewAsMember=true" target="_blank"><i class="icons-in"></i></a></li>-->
<!--                    <li><a href="https://www.zhihu.com/org/han-wu-ji-ke-ji/activities" target="_blank"><i class="icons-zh"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="foot2">
        <div class="container">
            <div class="foot-nav">
                <ul>
                    <li><a href="javascript:void(0)">使用条款</a></li>
                    <li><a href="javascript:void(0)">法律声明</a></li>
                    <li><a href="javascript:void(0)">隐私政策</a></li>
                </ul>
            </div>
            <div class="foot-copy">
                <p>版权所有 © 2020-2022 琴智科技 备案/许可证号：京ICP备88888888</p>
            </div>
        </div>

    </div>
</footer>
</body>
</html>