<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<body>
<header th:fragment="header">
    <div class="container">
        <div class="logo">
            <a th:href="@{/home/index}"><img th:src="@{/static/home/img/logo-2.png}" alt="琴智科技"/></a>
        </div>
        <div class="logo2">
            <a th:href="@{/home/index}"><img th:src="@{/static/home/img/logo.png}" alt="琴智科技"/></a>
        </div>
        <button type="button" class="navbar-toggle" id="daohang">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar bar-1"></span>
            <span class="icon-bar bar-2"></span>
            <span class="icon-bar bar-3"></span>
        </button>
        <nav id="navli">
            <ul>
                <li class="">
                    <!-- 首页 加入我们  关于我们  可以点击-->
                    <a href="javaScript:;">产品及技术</a>
                    <div class="navli-nav cp">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a href="javaScript:;">人工智能超算产品</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/home/product(id=${11},nav=${'nav1'},productName=${'type'})}">推理计算型</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${12},nav=${'nav2'},productName=${'type'})}">训练计算型</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${13},nav=${'nav3'},productName=${'type'})}">CPU通用计算型</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="javaScript:;" >智能加速卡</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/home/product(id=${21},productName=${'siyuan100'})}">思元100</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${22},productName=${'siyuan270'})}">思元270</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a th:href="@{/home/product(id=${31},productName=${'solution1'})}">解决方案</a>
                    <div class="navli-nav cp">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a th:href="@{/home/product(id=${31},productName=${'solution1'})}" >智慧城市</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/home/product(id=${31},productName=${'solution1'},nav=${'nav1'})}">城市实时仿真</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${32},productName=${'solution1'},nav=${'nav2'})}">智能交通系统</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${33},productName=${'solution1'},nav=${'nav3'})}">智能安防</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a th:href="@{/home/product(id=${34},productName=${'solution2a'})}" >智慧产业</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/home/product(id=${34},productName=${'solution2a'},nav=${'nav1'})}">智能教育</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${35},productName=${'solution2a'},nav=${'nav2'})}">智能医疗</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${36},productName=${'solution2a'},nav=${'nav3'})}">智能制造</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${37},productName=${'solution2a'},nav=${'nav4'})}">智能金融</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${38},productName=${'solution2b'},nav=${'nav5'})}">智能港航</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${39},productName=${'solution2b'},nav=${'nav6'})}">智能物流</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${40},productName=${'solution2b'},nav=${'nav7'})}">智能消费</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${41},productName=${'solution2b'},nav=${'nav8'})}">智能生活娱乐</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a th:href="@{/home/product(id=${50},productName=${'solution3'})}" >疫情防控</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/home/product(id=${50},productName=${'solution3'},nav=${'nav1'})}">疫情防控</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a th:href="@{/home/product(id=${51},productName=${'solution4'})}" >创新创业</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/home/product(id=${51},productName=${'solution4'},nav=${'nav1'})}">创新创业</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a th:href="@{/home/platform}">横琴人工智能超算中心</a>
                    <div class="navli-nav ">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a th:href="@{/home/platform(nav=${'nav1'})}" >超算中心简介</a>
                            </li>
                            <li>
                                <a th:href="@{/home/platform(nav=${'nav2'})}" >超算中心入口</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <!-- 首页 加入我们  关于我们  可以点击-->
                    <a th:href="@{/home/weinfo}">关于我们</a>
                    <div class="navli-nav cp2">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav1'})}">公司简介</a>
                            </li>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav2'})}">公司愿景</a>
                            </li>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav3'})}">合作伙伴</a>
                            </li>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav4'})}">招聘事宜</a>
                            </li>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav5'})}">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <!-- 首页 加入我们  关于我们  可以点击-->
                    <a href="javaScript:;">企业动态</a>
                    <div class="navli-nav ">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a th:href="@{/home/news(currentPage=${1},offset=${0},limit=${6},order=${'desc'})}" >公司新闻</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>