<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<body>
<header th:fragment="header">
    <div class="container">
        <div class="logo">
            <a th:href="@{/home/index}"><img th:src="@{/static/home/img/logo-2.png}" alt="琴智科技"/></a>
        </div>
        <div class="logo2">
            <a th:href="@{/home/index}"><img th:src="@{/static/home/img/logo.png}" alt="琴智科技"/></a>
        </div>
        <button type="button" class="navbar-toggle" id="daohang">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar bar-1"></span>
            <span class="icon-bar bar-2"></span>
            <span class="icon-bar bar-3"></span>
        </button>
        <nav id="navli">
            <ul>
                <li class="">
                    <!-- 首页 加入我们  关于我们  可以点击-->
                    <a href="javaScript:;">产品及技术</a>
                    <div class="navli-nav cp">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a href="javaScript:;" >横琴先进智能计算平台的产品</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/home/product(id=${11})}">推理计算型</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${12})}">训练计算型</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/home/product(id=${13})}">CPU通用计算型</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="javaScript:;" >寒武纪的部分产品及技术</a>
                                <ul>
                                    <li>
                                        <a href="javaScript:;" >系列1</a>
                                        <ul>
                                            <li>
                                                <a th:href="@{/home/product(id=${21},productName=${'siyuan100'})}">思元100</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/home/product(id=${22})}">思元270</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/home/product(id=${23})}">全国产</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javaScript:;" >系列2</a>
                                        <ul>
                                            <li>
                                                <a th:href="@{/home/product(id=${24})}">产品1</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/home/product(id=${25})}">产品1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a th:href="@{/home/contactus}">解决方案</a>
                    <div class="navli-nav cp">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a href="javaScript:;" >产品的各项实际应用</a>
                                <ul>
                                    <li>
                                        <a href="javaScript:;" >智慧城市</a>
                                        <ul>
                                            <li>
                                                <a th:href="@{/home/product(id=${31})}">城市实时仿真</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/home/product(id=${32})}">智能交通系统</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javaScript:;" >智慧产业</a>
                                        <ul>
                                            <li>
                                                <a th:href="@{/home/product(id=${33})}">智能教育</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/home/product(id=${34})}">智能物流</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/home/product(id=${35})}">智能医疗</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/home/product(id=${36})}">智能金融</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a th:href="@{/home/platform}">横琴先进智能计算平台</a>
                    <div class="navli-nav ">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a th:href="@{/home/platform(nav=${'nav1'})}" >平台背景介绍</a>
                            </li>
                            <li>
                                <a th:href="@{/home/platform(nav=${'nav2'})}" >平台项目介绍</a>
                            </li>
                            <li>
                                <a th:href="@{/home/platform(nav=${'nav3'})}">平台使用网站链接</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <!-- 首页 加入我们  关于我们  可以点击-->
                    <a th:href="@{/home/weinfo}">关于我们</a>
                    <div class="navli-nav cp2">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav1'})}">公司简介</a>
                            </li>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav2'})}">公司愿景</a>
                            </li>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav3'})}">企业文化</a>
                            </li>
                            <!--<li>
                                <a th:href="@{/home/weinfo(nav=${'nav4'})}">相关案例</a>
                            </li>-->
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav4'})}">合作企业</a>
                            </li>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav5'})}">招聘事宜</a>
                            </li>
                            <li>
                                <a th:href="@{/home/weinfo(nav=${'nav6'})}">公司联系方式</a>
                            </li>
                            <!--<li>
                                <a th:href="@{/home/weinfo(nav=${'nav6'})}">服务</a>
                            </li>-->
                            <!--<li>
                                <a href="javaScript:;"  target="_blank"  >资料库</a>
                                <ul>
                                    <li>
                                        <a href="http://forum.cambricon.com/list-64-1.html"  target="_blank" >在线文档</a>
                                    </li>
                                    <li>
                                        <a href="http://forum.cambricon.com/list-58-1.html"  target="_blank" >下载专区</a>
                                    </li>
                                </ul>
                            </li>-->
                        </ul>
                    </div>
                </li>
                <li class="">
                    <!-- 首页 加入我们  关于我们  可以点击-->
                    <a href="javaScript:;">企业动态</a>
                    <div class="navli-nav ">
                        <p class="fanhui">
                            <span class="layui-icon layui-icon-left"></span>返回
                        </p>
                        <ul>
                            <li>
                                <a th:href="@{/home/news(currentPage=${1},offset=${0},limit=${6},order=${'desc'})}" >公司新闻</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>