<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>琴智科技</title>
    <meta name="keywords" content="琴智科技；疫情防控；智慧城市；智慧产业；" />
    <meta name="description" content="" />
    <meta name="robots" content="All" />
    <link rel="shortcut icon" th:href="@{/static/home/img/title.ico}"/>
    <link th:href="@{/static/home/js/bootstrap/css/less/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/home/css/swiper.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/js/layui/css/layui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/animation.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/iconfont.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/video-js.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/jquery.fancybox.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/cp-p3.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/jquery.eeyellow.Timeline.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/static/home/js/jquery-1.12.4.min.js}"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?08bf0a6e04a9cb9128b9e26f3355b392";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);


        })();
    </script>
    <link rel="stylesheet" href="../../static/home/css/jquery.eeyellow.Timeline.css">

</head>
<body>

<header th:include="home/header :: header"></header>

<div class="page-banner" th:style="'background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/platform_3.jpg)'">
    <div class="txt wow fadeInUpa">
        <h2>横琴人工智能超算中心</h2>
        <p></p>
    </div>
</div>

<div class="page-nav page-nav-md">
    <div class="container conth">
        <div class="page-nav-right">
            <div class="page-nav-right-md" id="page-nav-md-a">
                <a th:if="${cusdomQuery.nav} eq 'nav1'" href="#nav1" class="active">超算中心简介</a>
                <a th:if="${cusdomQuery.nav} ne 'nav1'" href="#nav1">超算中心简介</a>
                <a th:if="${cusdomQuery.nav} eq 'nav2'" href="#nav2" class="active">超算中心历程</a>
                <a th:if="${cusdomQuery.nav} ne 'nav2'" href="#nav2">超算中心历程</a>
                <!--<a th:if="${cusdomQuery.nav} eq 'nav3'" href="#nav3" class="active">超算中心入口</a>
                <a th:if="${cusdomQuery.nav} ne 'nav3'" href="#nav3">超算中心入口</a>-->
            </div>
        </div>
    </div>
</div>
<a name="nav1" id="nav1"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>超算中心简介</h2>
        </div>
    </div>
</div>

<div class="page-ab-box2 wow fadeInUpa" th:style="'background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/platform_head.jpg)'">
    <div class="container">
        <div class="item">
            <div class="txt">
                <h3>横琴先进智能计算平台---</h3>
                <div>由中科院、广东省、珠海市、横琴新区共同在横琴打造，是中科院战略性先导专项“国产安全可控先进计算机系统”的重要研究成果，全系列使用中科曙光服务器及中科寒武纪AI加速卡（神经元网络专用芯片），并具有大规模、自主可控的优势，算力较现有的传统CPU超算中心更强。</div>
                <div>&nbsp;</div>
                <div>横琴先进智能计算平台计划总投资18亿元，完全建成后算力将达到4Eops（百亿亿次/秒），截至2019年底已建成算力1.16 Eops。</div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>

<a name="nav2" id="nav2"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>超算中心历程</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="VivaTimeline">
                <dl>
                    <dt>2020</dt>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">2020年6月</div>
                        <div class="events">
                            <div class="events-header">超算中心申报粤港澳联合实验室</div>
                            <div class="events-body">
                                <div class="row">
                                    <div class="events-desc">
                                        详细介绍。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">2020年5月</div>
                        <div class="events">
                            <div class="events-header">超算中心开始实施“服务提升、价格优惠”计划</div>
                            <div class="events-body">
                                <div class="row">
                                    <div class="events-desc">
                                        详细介绍。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">2020年2月</div>
                        <div class="events">
                            <div class="events-header">与第三方合作的疫情预测模型在超算中心上线，助力抗疫工作</div>
                            <div class="events-body">
                                <div class="row">
                                    <div class="events-desc">
                                        详细介绍。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>

                    <dt>2019</dt>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">2019年12月</div>
                        <div class="events">
                            <div class="events-header">超算中心澳门大学分中心挂牌成立</div>
                            <div class="events-body">
                                <div class="row">
                                    <div class="events-desc">
                                        详细介绍。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">2019年12月</div>
                        <div class="events">
                            <div class="events-header">超算中心二期通过专家验收</div>
                            <div class="events-body">
                                <div class="row">
                                    <div class="events-desc">
                                        详细介绍。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">2019年9月</div>
                        <div class="events">
                            <div class="events-header">超算中心一期通过专家验收</div>
                            <div class="events-body">
                                <div class="row">
                                    <div class="events-desc">
                                        详细介绍。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">2019年4月</div>
                        <div class="events">
                            <div class="events-header">横琴新区与中科院计算所签署战略合作协议共建横琴人工智能超算中心</div>
                            <div class="events-body">
                                <div class="row">
                                    <div class="events-desc">
                                        详细介绍。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<!--<a name="nav3" id="nav3"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>超算中心入口</h2>
        </div>
    </div>
</div>

<div class="page-ab-box5 container wow fadeInUpa">
    <div class="row">
        <div class="col-xs-6">
            <div onclick="window.open('https://www.hengqinai.com:30443','_blank')" th:style="'width:1200px;height:975px;border:#ccc solid 1px;font-size:12px;cursor:pointer; background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/platform_2.jpg)'">
            </div>
        </div>
    </div>
</div>-->

<div class="fashet"></div><!--撑高度  -->

<footer th:include="home/footer :: footer"></footer>
<script type="text/javascript">
    $(document).ready(function () {
        $('.VivaTimeline').vivaTimeline({
            carousel: true,
            carouselTime: 3000
        });
    });

    $('#navli a').each(function(){
        if ($(this).attr("href")=='javaScript:;') {
            $(this).addClass("no_pointer");
        }

    });
</script>

<script th:src="@{/static/home/js/layui/layui.js}"></script>
<script th:src="@{/static/home/js/layui/config.js}"></script>
<script th:src="@{/static/home/js/swiper.js}"></script>
<script th:src="@{/static/home/js/video.js/video.js}"></script>
<script th:src="@{/static/home/js/jquery.appear.js}"></script>
<script th:src="@{/static/home/js/jquery.countTo.js}"></script>
<script th:src="@{/static/home/js/jquery.tap.js}"></script>
<script th:src="@{/static/home/js/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/home/js/gd.js}"></script>
<script th:src="@{/static/home/js/jquery.fancybox.js}"></script>
<script th:src="@{/static/home/js/wow.js}"></script>
<script th:src="@{/static/home/js/jquery-ui.min.js}"></script>
<script th:src="@{/static/home/js/page.js}"></script>
<script th:src="@{/static/home/js/jquery.eeyellow.Timeline.js}"></script>
</body>
</html>