<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="VivaTimeline">
                <dl th:each="processVo : ${processList}">
                    <dt>[[${processVo.year}]]</dt>
                    <th th:each="process : ${processVo.processes}">
                        <dd th:class="${process.position} + ' clearfix'">
                            <div class="circ"></div>
                            <div class="time">[[${process.publishTime}]]</div>
                            <div class="events">
                                <div class="events-header">[[${process.processName}]]</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="events-desc">
                                            [[${process.introduction}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </th>
                </dl>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.VivaTimeline').vivaTimeline({
        carousel: true,
        carouselTime: 3000
    });
</script>
</body>
</html>