<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>琴智科技</title>
    <meta name="keywords" content="琴智科技；疫情防控；智慧城市；智慧产业；" />
    <meta name="description" content="" />
    <meta name="robots" content="All" />
    <link rel="shortcut icon" th:href="@{/static/home/img/title.ico}"/>
    <link th:href="@{/static/home/js/bootstrap/css/less/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/home/css/swiper.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/js/layui/css/layui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/animation.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/iconfont.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/video-js.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/jquery.fancybox.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/cp-p3.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/static/home/js/jquery-1.12.4.min.js}"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?08bf0a6e04a9cb9128b9e26f3355b392";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);


        })();
    </script>

</head>
<body>

<header th:include="home/header :: header"></header>

<div class="page-banner" th:style="'background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/product_head.jpg)'">
    <div class="txt wow fadeInUpa">
        <h2>产品及技术</h2>
        <p>产品技术介绍</p>
    </div>
</div>

<div class="page-nav ">
    <div class="container conth">
        <div class="page-nav-left">
            <ul id="page-nav">
                <li class="active">产品技术</li>
                <li th:if="${not #strings.isEmpty(product.rootName)}">[[${product.rootName}]]</li>
                <li th:if="${not #strings.isEmpty(product.parentName)}" class="last">[[${product.parentName}]]</li>
                <li th:if="${not #strings.isEmpty(product.nodeName)}" class="last">[[${product.nodeName}]]</li>
            </ul>
            <!--<h3>Cambricon-1M</h3>-->
        </div>
        <div class="page-nav-right">
            <div class="page-nav-right-md" id="page-nav-md-a">
                <a href="javaScript:;nav1" class="active">概述</a>
                <a href="javaScript:;nav2" >核心优势</a>
                <a href="javaScript:;nav3" >应用领域</a>
                <a href="javaScript:;nav4" >产品规格</a>
            </div>
        </div>
    </div>
</div>
<!--产品系列介绍******************************************************开始-->
<div class="scroll-nav page-cp-p2-box1">
    <div class="container">
        <div class="item">
            <div class="img wow fadeInUpa"><img th:src="@{/static/home/img/siyuan100.jpg}" alt="思元100" /></div>
            <div class="txt">
                <div class="tit wow fadeInUpa">
                    <h2>思元100智能加速卡</h2>
                </div>
                <div class="body wow fadeInUpa">
                    <p>思元100是寒武纪推出的第一款智能处理板卡产品，基于寒武纪MLUv01架构。支持视觉、语音、自然语言处理以及传统机器学习等高度多样化的人工智能应用。</p>
                    <p>思元100加速卡的INT8理论峰值性能为32TOPS，在稀疏模式下等效理论峰值性能为128TOPS，FP16理论峰值性能为16TFLOPs，稀疏模式下等效理论峰值性能为64TFLOPs。思元100加速卡还搭载多种容量的256bit DDR4 ECC内存，可满足各类推理场景的云端计算需求。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="scroll-nav page-cp-p3-box1">
    <div class="container">
        <div class="tit">
            <h2>核心优势</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="item">
                    <div class="img wow fadeInUpa">
                        <img th:src="@{/static/home/img/tec_4.png}" alt="通用性好">
                    </div>
                    <div class="txt wow fadeInUpa">
                        <h3>通用性好</h3>
                        <p>通用智能处理器，支持各类深度学习技术，支持多模态智能处理（视觉、语音和自然语言处理），应用领域广泛。</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="item">
                    <div class="img wow fadeInUpa">
                        <img th:src="@{/static/home/img/tec_5.png}" alt="高能效 高可靠性">
                    </div>
                    <div class="txt wow fadeInUpa">
                        <h3>高能效 高可靠性</h3>
                        <p>相比GPU处理器，采用了针对深度学习和人工智能应用特点定制的指令集和处理器架构，具有更优的能效比。</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="item">
                    <div class="img wow fadeInUpa">
                        <img th:src="@{/static/home/img/tec_6.png}" alt="完善的软件开发环境">
                    </div>
                    <div class="txt wow fadeInUpa">
                        <h3>完善的软件开发环境</h3>
                        <p>寒武纪为思元100提供了一整套成熟的开发环境Cambricon NeuWare，具体包括应用开发、功能调试、性能调优等在内的一系列工具。</p>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<div class="scroll-nav page-cp-p6-box1">
    <div class="tit wow fadeInUpa">
        <h2>应用领域</h2>
    </div>
    <div class="page-cp-p6-box1-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper" style="height: auto">
                <div class="swiper-slide">
                    <div class="item">
                        <a href="javascript:" class="no_pointer">
                            <div class="img"><img th:src="@{/static/home/img/siyuan100_1.jpg}" alt="智能视频分析" /></div>
                            <div class="txt">智能视频分析</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <a href="javascript:" class="no_pointer">
                            <div class="img"><img th:src="@{/static/home/img/siyuan100_2.jpg}" alt="语音合成" /></div>
                            <div class="txt">语音合成</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <a href="javascript:" class="no_pointer">
                            <div class="img"><img th:src="@{/static/home/img/siyuan100_3.jpg}" alt="推荐引擎" /></div>
                            <div class="txt">推荐引擎</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <a href="javascript:" class="no_pointer">
                            <div class="img"><img th:src="@{/static/home/img/siyuan100_4.jpg}" alt="NLP" /></div>
                            <div class="txt">NLP</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<div class="scroll-nav page-cp-p3-box2">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>产品规格</h2>
        </div>
        <div class="body">
            <table class="no-first">
                 <thead>
                     <tr>
                    <th>产品型号</th>
                    <th>思元100-C&nbsp;</th>
                    <th>思元100-D&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th>核心频率</th>
                    <td align="center" colspan="2">1GHz（平衡模式）</td>
                    </tr>
                    <tr>
                    <th>半精度浮点运算速度（<span lang="EN-US" new="" style="font-size:10.5pt;mso-bidi-font-size:
                        11.0pt;font-family:等线;mso-bidi-font-family:" times="">FP16</span>）</th>
                    <td colspan="2" style="text-align: center;">16 TFLOPS（关闭稀疏模式时理论峰值性能）<br />
                        64 TFLOPS（打开稀疏模式时理论峰值性能）</td>
                    </tr>
                    <tr>
                    <th>整数运算速度（INT8）</th>
                    <td colspan="2" style="text-align: center;">32 TOPS&nbsp; （关闭稀疏模式时理论峰值性能）<br />
                        128 TOPS（打开稀疏模式时理论峰值性能）</td>
                    </tr>
                    <tr>
                    <th>内存容量</th>
                    <td colspan="2" style="text-align: center;">8GB/16GB</td>
                    </tr>
                    <tr>
                    <th>内存位宽</th>
                    <td colspan="2" style="text-align: center;">256-bit</td>
                    </tr>
                    <tr>
                    <th>内存带宽</th>
                    <td colspan="2" style="text-align: center;">102.4GB/s</td>
                    </tr>
                    <tr>
                    <th>系统接口</th>
                    <td colspan="2" style="text-align: center;">x16 PCIe Gen.3</td>
                    </tr>
                    <tr>
                    <th>外形</th>
                    <td>全高全长，单槽位</td>
                    <td>半高半长，单槽位</td>
                    </tr>
                    <tr>
                    <th>是否支持解码</th>
                    <td>支持解码</td>
                    <td>不支持解码</td>
                    </tr>
                    <tr>
                    <th>TDP功耗</th>
                    <td>110w</td>
                    <td>75w</td>
                    </tr>
                    <tr>
                    <th>ECC保护</th>
                    <td colspan="2">是</td>
                    </tr>
                    <tr>
                    <th>散热方式</th>
                    <td colspan="2">被动散热</td>
                    </tr>
                </tbody>
             </table>
            <p>&nbsp;</p>
        </div>
    </div>
</div>


<div class="page-cp-box-ad page-cp-box-ad-lx wow fadeInUpa">
    <a th:href="@{/home/contactus}">联系我们</a>
</div>
<div class="fashet"></div><!--撑高度  -->
<!--产品系列介绍******************************************************结束-->
<footer th:include="home/footer :: footer"></footer>
<script type="text/javascript">
    $('#navli a').each(function(){
        if ($(this).attr("href")=='javaScript:;') {
            $(this).addClass("no_pointer");
        }

    });
</script>

<script th:src="@{/static/home/js/layui/layui.js}"></script>
<script th:src="@{/static/home/js/layui/config.js}"></script>
<script th:src="@{/static/home/js/swiper.js}"></script>
<script th:src="@{/static/home/js/video.js/video.js}"></script>
<script th:src="@{/static/home/js/jquery.appear.js}"></script>
<script th:src="@{/static/home/js/jquery.countTo.js}"></script>
<script th:src="@{/static/home/js/jquery.tap.js}"></script>
<script th:src="@{/static/home/js/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/home/js/gd.js}"></script>
<script th:src="@{/static/home/js/jquery.fancybox.js}"></script>
<script th:src="@{/static/home/js/wow.js}"></script>
<script th:src="@{/static/home/js/jquery-ui.min.js}"></script>
<script th:src="@{/static/home/js/page.js}"></script>
</body>
</html>