<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>琴智科技</title>
    <meta name="keywords" content="琴智科技；疫情防控；智慧城市；智慧产业；" />
    <meta name="description" content="" />
    <meta name="robots" content="All" />
    <link rel="shortcut icon" th:href="@{/static/home/img/title.ico}"/>
    <link th:href="@{/static/home/js/bootstrap/css/less/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/home/css/swiper.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/js/layui/css/layui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/animation.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/iconfont.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/video-js.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/jquery.fancybox.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/cp-p3.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/static/home/js/jquery-1.12.4.min.js}"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?08bf0a6e04a9cb9128b9e26f3355b392";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);


        })();
    </script>

</head>
<body>

<header th:include="home/header :: header"></header>

<div class="page-banner" th:style="'background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/product_head.jpg)'">
    <div class="txt wow fadeInUpa">
        <h2>产品及技术</h2>
        <p>产品技术介绍</p>
    </div>
</div>

<div class="scroll-nav page-cp-p6-box1">
    <div class="tit wow fadeInUpa">
        <h2>
            应用领域
        </h2>
    </div>


    <div class="page-cp-p6-box1-swiper">


        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="item">
                        <a href="javascript:" class="no_pointer">
                            <div class="img"><img src="/uploadfile/2019/1111/20191111095257441.jpg" alt="智能视频分析" /></div>
                            <div class="txt">智能视频分析</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <a href="javascript:" class="no_pointer">
                            <div class="img"><img src="/uploadfile/2019/1209/20191209031619853.jpg" alt="语音合成" /></div>
                            <div class="txt">语音合成</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <a href="javascript:" class="no_pointer">
                            <div class="img"><img src="/uploadfile/2019/1111/20191111095236110.jpg" alt="推荐引擎" /></div>
                            <div class="txt">推荐引擎</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <a href="javascript:" class="no_pointer">
                            <div class="img"><img src="/uploadfile/2019/1111/20191111095101249.jpg" alt="NLP" /></div>
                            <div class="txt">NLP</div>
                        </a>
                    </div>
                </div>

                <!-- <div class="swiper-slide">
                    <div class="item">
                        <a href="#">
                            <div class="img wow fadeInUpa"><img src="/statics/zhang/images/cp/30.jpg" alt="Alternate Text" /></div>
                            <div class="txt wow fadeInUpa">语音合成</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <a href="#">
                            <div class="img wow fadeInUpa"><img src="/statics/zhang/images/cp/31.jpg" alt="Alternate Text" /></div>
                            <div class="txt wow fadeInUpa">推荐引擎</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <a href="#">
                            <div class="img wow fadeInUpa"><img src="/statics/zhang/images/cp/32.jpg" alt="Alternate Text" /></div>
                            <div class="txt wow fadeInUpa">NLP</div>
                        </a>
                    </div>
                </div> -->



            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>


</div>


<div class="scroll-nav page-cp-p3-box2">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>
                产品规格
            </h2>

        </div>
        <div class="body">

            <table class="no-first">
                <thead>
                <tr>
                    <th>
                        产品型号</th>
                    <th>
                        思元100-C&nbsp;</th>
                    <th>
                        思元100-D&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        核心频率</th>
                    <td align="center" colspan="2">1GHz（平衡模式）</td>
                </tr>
                <tr>
                    <th>
                        半精度浮点运算速度（<span lang="EN-US" new="" style="font-size:10.5pt;mso-bidi-font-size:
11.0pt;font-family:等线;mso-bidi-font-family:" times="">FP16</span>）</th>
                    <td colspan="2" style="text-align: center;">16 TFLOPS（关闭稀疏模式时理论峰值性能）<br />
                        64 TFLOPS（打开稀疏模式时理论峰值性能）</td>
                </tr>
                <tr>
                    <th>
                        整数运算速度（INT8）</th>
                    <td colspan="2" style="text-align: center;">32 TOPS&nbsp; （关闭稀疏模式时理论峰值性能）<br />
                        128 TOPS（打开稀疏模式时理论峰值性能）</td>
                </tr>
                <tr>
                    <th>
                        内存容量</th>
                    <td colspan="2" style="text-align: center;">8GB/16GB</td>
                </tr>
                <tr>
                    <th>
                        内存位宽</th>
                    <td colspan="2" style="text-align: center;">256-bit</td>
                </tr>
                <tr>
                    <th>
                        内存带宽</th>
                    <td colspan="2" style="text-align: center;">102.4GB/s</td>
                </tr>
                <tr>
                    <th>
                        系统接口</th>
                    <td colspan="2" style="text-align: center;">x16 PCIe Gen.3</td>
                </tr>
                <tr>
                    <th>
                        外形</th>
                    <td>全高全长，单槽位</td>
                    <td>半高半长，单槽位</td>
                </tr>
                <tr>
                    <th>
                        是否支持解码</th>
                    <td>支持解码</td>
                    <td>不支持解码</td>
                </tr>
                <tr>
                    <th>
                        TDP功耗</th>
                    <td>110w</td>
                    <td>75w</td>
                </tr>
                <tr>
                    <th>
                        ECC保护</th>
                    <td colspan="2">是</td>
                </tr>
                <tr>
                    <th>
                        散热方式</th>
                    <td colspan="2">被动散热</td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

<!--
<div class="scroll-nav page-cp-p3-box3s">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>
                相关资源
            </h2>
        </div>
        <div class="row" id="DataUl1">


            <div id="moreData1"></div>


        </div>
        <div class="bottom moreWrap1 " data-id="26" id="moreWrap1">
                <a href="javaScript:;" class="layui-btn">查看更多</a>
            </div>

-->

<div class="page-cp-box-ad page-cp-box-ad-lx wow fadeInUpa">
    <a href="/index.php?m=content&c=index&a=lists&catid=7">
        联系我们
    </a>
</div>
</div>
</div>

<!--产品系列介绍******************************************************结束-->
<footer th:include="home/footer :: footer"></footer>
<script type="text/javascript">
    $('#navli a').each(function(){
        if ($(this).attr("href")=='javaScript:;') {
            $(this).addClass("no_pointer");
        }

    });
</script>

<script th:src="@{/static/home/js/layui/layui.js}"></script>
<script th:src="@{/static/home/js/layui/config.js}"></script>
<script th:src="@{/static/home/js/swiper.js}"></script>
<script th:src="@{/static/home/js/video.js/video.js}"></script>
<script th:src="@{/static/home/js/jquery.appear.js}"></script>
<script th:src="@{/static/home/js/jquery.countTo.js}"></script>
<script th:src="@{/static/home/js/jquery.tap.js}"></script>
<script th:src="@{/static/home/js/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/home/js/gd.js}"></script>
<script th:src="@{/static/home/js/jquery.fancybox.js}"></script>
<script th:src="@{/static/home/js/wow.js}"></script>
<script th:src="@{/static/home/js/jquery-ui.min.js}"></script>
<script th:src="@{/static/home/js/page.js}"></script>
</body>
</html>