<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>琴智科技</title>
    <meta name="keywords" content="琴智科技；疫情防控；智慧城市；智慧产业；" />
    <meta name="description" content="" />
    <meta name="robots" content="All" />
    <link rel="shortcut icon" th:href="@{/static/home/img/title.ico}"/>
    <link th:href="@{/static/home/js/bootstrap/css/less/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/home/css/swiper.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/js/layui/css/layui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/animation.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/iconfont.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/video-js.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/jquery.fancybox.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/home/css/cp-p3.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/static/home/js/jquery-1.12.4.min.js}"></script>
    <!--引用百度地图API-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=31Ea1O4aNUFG11E8okvr1GcTieyriHRZ"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?08bf0a6e04a9cb9128b9e26f3355b392";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);

        })();

    </script>

</head>
<body>

<header th:include="home/header :: header"></header>

<div class="page-banner" th:style="'background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/we_head.jpg)'">
    <div class="txt wow fadeInUpa">
        <h2>关于我们</h2>
        <p></p>
    </div>
</div>

<div class="page-nav page-nav-md">
    <div class="container conth">
        <div class="page-nav-right">
            <div class="page-nav-right-md" id="page-nav-md-a">
                <a th:if="${cusdomQuery.nav} eq 'nav1'" href="#nav1" class="active">公司简介</a>
                <a th:if="${cusdomQuery.nav} ne 'nav1'" href="#nav1">公司简介</a>
                <a th:if="${cusdomQuery.nav} eq 'nav2'" href="#nav2" class="active">公司愿景</a>
                <a th:if="${cusdomQuery.nav} ne 'nav2'" href="#nav2">公司愿景</a>
                <a th:if="${cusdomQuery.nav} eq 'nav4'" href="#nav3" class="active">合作伙伴</a>
                <a th:if="${cusdomQuery.nav} ne 'nav4'" href="#nav3">合作伙伴</a>
                <a th:if="${cusdomQuery.nav} eq 'nav5'" href="#nav4" class="active">招聘事宜</a>
                <a th:if="${cusdomQuery.nav} ne 'nav5'" href="#nav4">招聘事宜</a>
                <a th:if="${cusdomQuery.nav} eq 'nav6'" href="#nav5" class="active">联系我们</a>
                <a th:if="${cusdomQuery.nav} ne 'nav6'" href="#nav5">联系我们</a>
            </div>
        </div>
    </div>
</div>
<a name="nav1" id="nav1"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>琴智科技介绍</h2>
        </div>
    </div>
</div>

<div class="page-ab-box2 wow fadeInUpa" th:style="'background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/weinfo_bg2.jpg)'">
    <div class="container">
        <div class="item">
            <div class="txt">
                <h3>广东琴智科技研究院有限公司---</h3>
                <div>2019年8月8日，广东琴智科技研究院有限公司由中科寒武纪科技股份有限公司和珠海大横琴科技发展有限公司合资成立，负责横琴人工智能超算中心的运营、推广和维护服务，开展AI中台系统研发。致力研发智慧城市行业AI解决方案，依托平台提供创新创业、教育科研、资讯分享、论坛大赛等服务，构建智能芯片的生态合作圈，倾力打造“核心平台+数据运营+生态合作”的智能产业生态圈，促进人工智能技术与传统产业结合，面向全球提供人工智能算力服务。</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>

<a name="nav2" id="nav2"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>公司愿景</h2>
        </div>
    </div>
</div>

<div class="page-ab-box1" th:style="'background-image: url('+ ${#httpServletRequest.getContextPath()} +'/static/home/img/weinfo_bg1.jpg)'">
    <div class="item">
        <div class="txt">
            <h3>愿景</h3><p>成为“立足横琴、面向粤港澳大湾区、辐射全国”的集智能计算服务、<br/>交叉研究和产业创新三位一体的重大科技基础设施和公共服务平台，<br />为粤港澳大湾区建设国际科技创新中心贡献卓越力量。</p>
        </div>
    </div>
    <div class="item">
        <div class="txt">
            <h3>使命</h3><p>为客户创造价值，<br />成为持续创新的智能时代领导者</p>
        </div>
    </div>
</div>

<a name="nav3" id="nav3"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>合作伙伴</h2>
        </div>
    </div>
</div>

<div class="page-ab-box5 container wow fadeInUpa index-box5">
    <div class="container">
        <ul>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-11.jpg}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-12.jpg}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-13.jpg}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-14.jpg}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-15.jpg}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-16.png}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-17.png}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-18.jpg}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-19.jpg}" alt="" /></a></li>
            <li class="wow fadeInUpa"><a href="javascript:;" class="no_pointer"><img th:src="@{/static/home/img/ad/ad-20.png}" alt="" /></a></li>
        </ul>
    </div>
</div>

<a name="nav4" id="nav4"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>招聘事宜</h2>
        </div>
    </div>
</div>

<div class="page-ab-box4 container wow fadeInUpa">
    <div class="row">
        <th th:each="row : ${jobPage.rows}">
            <div class="col-xs-6 col-sm-12">
                <div class="item item_contact">
                    <strong>[[${row.jobName}]]</strong>
                    <span><p>【岗位职责】</p></span>
                    <span><p>[[${row.jobDescription}]]</p></span>
                    <span><p>【岗位要求】</p></span>
                    <span><p>[[${row.jobRequire}]]</p>
                    <span><p>【工作地点】</p></span>
                    <span><p>[[${row.jobsite}]]</p></span>
                </div>
            </div>
        </th>
    </div>
</div>

<a name="nav5" id="nav5"></a>
<div class="scroll-nav page-cp-box-tit page-hy-tit">
    <div class="container">
        <div class="tit wow fadeInUpa">
            <h2>联系我们</h2>
        </div>
    </div>
</div>

<div class="page-ab-box5 container_weinfo wow fadeInUpa">
    <div class="row">
        <div class="col-xs-4">
            <div class="item">
                <strong>地址</strong>
                <p>广东省珠海市横琴新区横琴创意谷20栋C座2楼</p>
                <strong>电话</strong>
                <p>0756-8688276</p>
                <strong>邮箱</strong>
                <span><p><a href="mailto:postmaster@qinzhi.tech">postmaster@qinzhi.tech</a></p></span>
            </div>
        </div>
       <!-- <div class="col-xs-4">
            <div class="item">
                <strong>电话</strong>
                <p>0756-8688276</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="item">
                <strong>邮箱</strong>
                <span><p><a href="mailto:postmaster@qinzhi.tech">postmaster@qinzhi.tech</a></p></span>
            </div>
        </div>-->
        <div class="col-xs-4">
            <div style="width:650px;height:335px;border:#ccc solid 1px;font-size:12px" id="map"></div>
        </div>

    </div>
    <div class="fashet"></div><!--撑高度  -->
</div>

<footer th:include="home/footer :: footer"></footer>
</body>
<script type="text/javascript">
    $('#navli a').each(function(){
        if ($(this).attr("href")=='javaScript:;') {
            $(this).addClass("no_pointer");
        }
    });

    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){
      map = new BMap.Map("map");
      map.centerAndZoom(new BMap.Point(113.548862,22.137387),15);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
      map.addControl(overviewControl);
    }
    var map;
    initMap();

</script>

<script th:src="@{/static/home/js/layui/layui.js}"></script>
<script th:src="@{/static/home/js/layui/config.js}"></script>
<script th:src="@{/static/home/js/swiper.js}"></script>
<script th:src="@{/static/home/js/video.js/video.js}"></script>
<script th:src="@{/static/home/js/jquery.appear.js}"></script>
<script th:src="@{/static/home/js/jquery.countTo.js}"></script>
<script th:src="@{/static/home/js/jquery.tap.js}"></script>
<script th:src="@{/static/home/js/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/home/js/gd.js}"></script>
<script th:src="@{/static/home/js/jquery.fancybox.js}"></script>
<script th:src="@{/static/home/js/wow.js}"></script>
<script th:src="@{/static/home/js/jquery-ui.min.js}"></script>
<script th:src="@{/static/home/js/page.js}"></script>

</html>